body{
  background: white;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container-1{
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  padding: 1rem;
}

.prev-label{
  font-weight: bold;
}

.prev-button:link, .prev-button:visited,
.prev-button:hover, .prev-button:active{
  color: black;
  cursor: pointer;
}


main{
  background: white;
  row-gap: 1.5rem;
  justify-content: flex-start;
  width: 100%;
}

.section-1{
  background-image: url("../images/pexels-goumbik-574069.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin: 3rem 0;
  padding: 1rem;
}

.description{
  background: transparent;
  color: white;
  font-size: 1.2rem;
}

.heading{
  color: white;
}

.me{
  color: var(--barca-red);
  padding: 0;
  margin: 0;
}

.header{
  font-family: "Grenze-Bold";
  font-size: 1.5rem;
}


.section-2{
  margin: 1rem;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  display: flex;
}

.goal-container{
  color: white;
  background: var(--barca-red);
  padding: 1.2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  box-shadow: 0.2rem 0.2rem 0.3rem;
}


.goal, .mission, .service, .item, .vision, .quality{
  margin: 1rem;
  font-size: 1.3rem;
  line-height: 2;
}

.mission-container{
  color: white;
  background: rgba(204, 204, 0, 1);
  padding: 1.2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  box-shadow: 0.2rem 0.2rem 0.3rem;
}

.service-container{
  color: white;
  background: var(--barca-blue);
  padding: 1.2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  box-shadow: 0.2rem 0.2rem 0.3rem;
}

.profile-container{
  color: black;
  background: white;
  padding: 1.2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  border: 0.1rem solid var(--barca-blue);
  box-shadow: 0.2rem 0.2rem 0.3rem;
}


.section-3{
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  color: white;
  background: linear-gradient(to left, var(--barca-red), var(--barca-blue));
  width: 100%;
  align-items: flex-start;
  padding: 1rem;
 
}

.contact-heading, .location-heading{
  padding: 0.5rem;
  border-bottom: 0.1rem solid white; 
}

footer{
  margin: 1.5rem;
}

.vision-container{
  color: white;
  background: black;
  padding: 1.2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
  box-shadow: 0.2rem 0.2rem 0.3rem;
}


.qualities-container{
  color: white;
  background: pink;
  padding: 1.4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  box-shadow: 0.2rem 0.2rem 0.3rem;
}

.qualities{
  padding: 2rem;
}

.qualities .quality{
  margin: 1rem;
  padding: 0.8rem;
  background: rgba(255,255,255,0.3);
  border-radius: 1rem;
}

.quality::marker{
  content: "\2713";
  color: rgba(0,128,0,1);
}


@media screen and (min-width: 992px){
  .section-2{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow-x: scroll;
    width: 100%;
    padding: 0 1.6rem;
  }
  
  .section-3{
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
  }
}

