header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.heading-1{
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.prev-button:link, .prev-button:visited{
  color: black;
  text-decoration: none;
}

.prev-button:active, .prev-button{
  opacity: 0.5
}