
form{
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  display: block;
}

label{
  color: white;
  background: #A50044;
  border: 0.07rem solid #A50044;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.9rem;
  margin: 0.7rem;
  font-size: 1.2rem;
}
 
input{
  width: 70%;
  margin:0 0 0 0.7rem;
  padding:0.9rem;
  height: 1.25rem;
  display: block;
  background: rgba(0, 64, 156, 0.5);
  border: 0.07rem solid rgba(0, 64, 156, 0.5);
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
}

input[name='username']:focus, input[name="email"]:focus{
  outline: none;
  border-bottom: 0.2rem solid #006400;
  height: 45px;
  transition: height 2s;
}

textarea[name="message"]{
  width: 70%;
  margin: 0;
  padding: 0.9rem;
  border-radius: 0.5rem;
  border: 0.07rem solid rgba(0, 64, 156, 0.5);
  background: rgba(0, 64, 156, 0.5);
  font-size: 1.3rem;
  color: white;
  font-family: san-serif, arial;
}

textarea[name="message"]:focus{
  outline: none;
  border-bottom: 0.2rem solid #006400;
  height: 150px;
  transition: height 2s;
}


input[type="submit"]{
  background: linear-gradient(to left, #004D98, #A50044);
  border: 0.2rem solid linear-gradient(to left, #004D98, #A50044);
  display: block;
  height: 50px;
  margin: 10px;
}

label.hidden{
  display: none;
  }

input.hidden{
  display: none;
}

textarea.hidden{
  display: none;
}

input[name="sendButton"].hidden{
  display: none;
}


@media screen and (min-width: 768px){
  label{
    font-size: 1.8rem;
  }
  
  input{
    font-size: 1.4rem;
    margin: 0.6rem;
  }
  
  input[type="submit"]{
    font-size: 1.5rem;
  }
}

#modalBox{
  background: #000000;
  padding: 0.4rem;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 10vh;
  border-radius: 1rem;
  left: 20%;
  display: none;
  right: 20%
}

#message{
  color: white;
  font-size: 1rem;
  margin: 0 0.5rem 0 0;
  float: left;
}

button{
  font-size: 1rem;
  background: black;
  color: white;
  border: 0.07rem inset black;
}

@media screen and (min-width:1024px){
  label{
    font-size: 2.3rem;
  }
  
  input{
    font-size: 2rem;
    margin: 1rem;
  }
  
  input[type="submit"]{
    font-size: 2.2rem;
  }
  
  #modalBox{
    padding: 0.8rem;
  }
}