.sub-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  gap: 0.7rem;
  padding: 0.3rem;
  border-bottom: 0.07rem black solid;
  position: fixed;
  left: 0;
  right: 0;
  background: whitesmoke;
}

.heading-1{
  font-size: 3vh;
  font-weight: bold;
}

.sub-header a:link, .sub-header a:visited, .sub-header a:hover, .sub-header a:active{
  color: black;
}

.form-container{
  margin: 7vh 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.instructions{
  padding: 1rem;
  color: rgba(0, 64, 147, 1.0);
  font-weight: bold;
  font-size: 3vh;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

label{
  font-size: 2.5vh;
}

input{
  width: 50vw;
  height: 5vh;
  margin: 0.5rem 0 0.5rem 0;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 64, 147, 1.0);
  padding: 0.5rem;
}

input:focus{
  border: 0.1rem solid green;
  outline: none;
}

input::placeholder{
  font-family: "Brush Script MT", cursive;
}

textarea{
  width: 50vw;
  height: 10vh;
  margin: 0.5rem 0 0.5rem 0;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 64, 147, 1.0);
  padding: 0.5rem;
}

textarea:focus{
  border: 0.1rem solid green;
  outline: none;
}

input[type="submit"]{
  width: 50vw;
  height: 5vh;
  margin: 0.5rem 0 0.5rem 0;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 64, 147, 1.0);
  padding: 1rem;
  background: linear-gradient(to left, rgba(0, 64, 147, 1.0), rgba(117, 18, 35));
  color: white;
  font-size: 2.5vh;
}

.send-container{
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
  justify-content: center;
}

.fa-paper-plane{
  position: relative;
  left: 2.5rem;
  color: white;
}

