*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face{
  font-family: "SP Fonts";
  src: url("../webfonts/DiplomataSC-Regular.ttf/default-font.ttf")
  format("truetype");
  font-weight: bold;
}

@font-face{
  font-family: "PoiretOne";
  src: url('../webfonts/PoiretOne-Regular.ttf')
  format("truetype");
}

body{
  font-family: var(--default-font);
  font-size: var(--font-size);
}


main{
  background-image: url("../images/technology-concept-background-with-wire-mesh-text-space.png");
  background-position: center;
  background-repeat: no-repeat;
  font-weight: bold;
  margin: 1.5rem 0;
  background-size: cover;
}

:root{
  --barca-blue: rgba(0, 65, 152, 1);
  --barca-red: rgba(152, 0, 46, 1);
  --default-font: "PoiretOne";
  --font-size: 1.3rem;
}

.heading-1{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  border-bottom: 0.07rem solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
}

.logo{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.branding{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.4rem;
}

.site-name{
  font-weight: bold;
}

.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.hire-button{
  background: var(--barca-red);
  color: white;
  padding: 0.4rem;
  border-radius: 0.5rem;
  font-family: var(--default-font);
  font-size: var(--font-size);
}

.menu-button{
  border-radius: 0.3rem;
  color: black;
  padding: 0.7rem;
}

.menu-button:hover{
 box-shadow: 0.2rem 0.2rem 0.2rem var(--barca-blue); 
}

.hire-form{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  padding: 1rem;
  display: none;
  position: fixed;
  background: whitesmoke;
  border-radius: 1rem;
}

.hire-button:hover{
  border: 0.09rem solid var(--barca-red);
  color: black;
  box-shadow: 0.1rem 0.2rem;
  background: white;
}


.instruction{
  font-family: "SP Fonts";
  font-size: 0.8rem;
  color: var(--barca-blue);
}

.heading-2{
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  border: 0.07rem solid;
  padding: 0.2rem;
  border-radius: 0.4rem;
  background: white;
}

input, input:hover, textarea{
  border: none;
  outline: none;
  border-radius: 0.4rem;
  padding: 0.2rem;
  font-family: var(--default-font);
  font-weight: bold;
}

.fa-user, .fa-envelope, .fa-message{
  border-right: 0.07rem solid;
}

#sendButton{
  background: var(--barca-blue);
  color: white;
  font-size: var(--font-size);
  padding: 0.5rem;
}

.mobile-menu{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background: rgba(225, 225, 225, 1);
  padding: 0.8rem;
  position: fixed;
  margin: 1rem;
  border-radius: 1rem;
  left: 0;
  right: 0;
}

.mobile-menu ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 0.8rem;
  list-style-type: none;
}

.mobile-menu ul li{
  border-bottom: 0.07rem solid;
}

.mobile-menu ul li a:link, .mobile-menu ul li a:visited, .mobile-menu ul li a:active, .mobile-menu ul li a:hover{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes submitButtonIsPressed{
  0%{
    transform: scaleX(1);
  }
  
  50%{
    transform: scaleX(1.5);
    font-size: 1.3rem;
  }
  
  100%{
    transform: scaleX(1);
    font-size: var(--font-size);
  }
}

#sendButton:hover{
  animation-name: submitButtonIsPressed;
  animation-duration: 0.8s;
}

.introduction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.name{
  font-family: "SP Fonts";
  padding: 0.5rem;
  text-align: center;
}

.me{
 width: 90%; 
  height: auto;
  margin: 1.5rem;
  border-radius: 1rem;
}

.description{
  padding: 0.5rem;
  text-align: center;
  background: white;
}

.socialHandles{
  position: fixed;
  bottom:0;
  background: whitesmoke;
  left: 0;
  right: 0;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialHandles ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.7rem;
  padding: 1rem;
}

.socialHandles ul li a:link, .socialHandles ul li a:visited{
  color: black;
}

.socialHandles ul li a:active, .socialHandles ul li a:hover{
  color: var(--barca-red);
}

.close-button{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.close-form-button:hover{
  border: 0.07rem solid;
}

.loc-cont-container{
  margin-top: 0.5rem;
}

.desktop-menu{
  display: none;
}

@media screen and (min-width: 992px){
  .fa-bars{
    display: none;
  }
  
  .desktop-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;
  }
  
 .desktop-menu ul{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   list-style-type: none;
   gap: 0.4rem;
 } 
  
  .desktop-menu ul li{
    padding: 0.5rem;
  }
  
  .desktop-menu ul li a:link, .desktop-menu ul li a:visited{
    color: var(--barca-blue);
    text-decoration: none;
  }
  
  .desktop-menu ul li a:active, .desktop-menu ul li a:hover{
    background: var(--barca-blue);
    color: white;
    border-radius: 0.5rem;
    padding: 0.3rem;
  }
}
