
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.heading-1{
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  background: rgba(255, 255, 255, 0.6);
  justify-content: space-between;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.prev-label{
  color: var(--secondary);
  margin: 0 auto;
  font-size: 2rem;
}

.prev-button:link, .prev-button:visited{
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.prev-button:active, .prev-button:hover{
  opacity: 0.5
}

main{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.sect-1{
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  background: var(--light);
}

.works{
  color: var(--accent);
}

.projects-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mockup_img{
  border-radius: 0.7rem;
  filter: blur(10px);
  transition: filter var(--transition-duration) linear;
}


.mockup_img:hover{
  filter: blur(0);
}

.proj-body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.9rem;
}

.project-label{
  font-family: var(--headings-font);
  font-size: 2rem;
  color: var(--secondary);
}

.skills{
  list-style-type: none;
  display: flex;
  gap: 0.7rem;
  font-size: 1rem;
}

.skill a{
  color: var(--dark);
  border: 0.09rem solid var(--dark);
  border-radius: 1rem;
  padding: 0.6rem;
  transition: background var(--transition-duration) linear;
  text-decoration: none;
}

.skill a:hover, .skill a:active{
  background: var(--dark);
  color: white; 
  text-decoration: none;
}

.visit-link{
  text-align: center;
  align-self: stretch;
  padding: 0.8rem;
  color: var(--accent);
  border: 0.09rem solid var(--accent);
  border-radius: 1rem;
  text-decoration: none;
  transition: background var(--transition-duration) linear;
}

.visit-link:hover, .visit-link:active{
  background: var(--accent);
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 922px){
  .projects-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}