*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#headerContainer{
  background: #004D98;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%; 
  align-items: center;
  flex-wrap: nowrap;
  padding: 25px 0 0 0;
}

img{
  width: 150px;
  border-radius: 30px;
  height: 120px;
  border: 3px solid white;
  margin: 0 10px 0 0;
}

.description{
  white-space: normal;
  color: white;
  font-size: 14px;
}

#shortDescription{
  font-weight: bold;
  text-align: center;
  border: 1px solid #A50044;
  background: #A50044;
  border-radius: 10px;
  padding: 20px 5px 20px 5px;
}

nav {
  background: #004D98;
}


li{
  width: 100%;
  padding: 5px;
}


ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li a:link{
  color: white;
  font-weight: bold;
  text-decoration: none;
}

li a:visited{
  text-decoration: none;
  border-left: 6px solid #004D98;
  background: rgba(219, 0, 48, 0.6);
  color:white;
  width: 70%;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

li a:hover{
  text-decoration: none;
  border-left: 6px solid yellow;
  background: rgba(219, 0, 48, 0.6);
  color: white;
  width: 70%;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

li a:active{
  text-decoration: none;
  border-left: 6px solid green;
  background: rgba(219, 0, 48, 0.6);
  color: white;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

#introduction{
  line-height: 20px;
  text-align: left;
}

#mainContent{
  margin: 30px 10px 20px 10px;
}

body{
  font-family: sans-serif, arial;
}

li a{
  display: block;
  padding: 10px;
}

@keyframes colorAnimation {
  0%{
      background: linear-gradient(to left, #004D98, #A50044);
  }
  100%{
    background: linear-gradient(to right, #A50044, #004D98);
  }
}

#businessButton{
  width: 200px;
  height: 70px;
  animation: colorAnimation 3s ease-in 0s infinite alternate;
  margin: 10px 0 20px 10px;
  border: 1px solid white;
  color: white;
  border-radius: 30px;
  font-size: 20px;
}

/*Screen view for tablets */

@media screen and(min-width: 768px){
  img{
    width: 170px;
  }
}