
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    height: 40%;
    position: fixed;
  width: 100%;
  top: 0;
  display: inline-block;
  background: #004D98;
}

#headerContainer{
  background: #004D98;
  display:inline-flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%; 
  align-items: center;
  flex-wrap: nowrap;
  height: 50%;
}

img{
  width: 100%;
  border-radius: 0.5rem;
  height: 100%;
  border: 3px solid white;
}

.description{
  white-space: normal;
  color: white;
  font-size: 1rem;
  line-height: 1.3rem;
}

#shortDescription{
  font-weight: bold;
  text-align: center;
  border: 1px solid #A50044;
  background: #A50044;
  border-radius: 10px;
  padding: 10px;;
  width: 50%;
  display: inline-block;
  height: 80%;
  margin: auto;
}

nav {
  background: #004D98;
}


li{
  width: 100%;
}


ul{
  list-style-type: none;
  padding: 0.6rem;
  margin: 0;
  width: 100%;
}

li a:link{
  color: white;
  font-weight: bold;
  text-decoration: none;
}

li a:visited{
  text-decoration: none;
  border-left: 6px solid #004D98;
  background: rgba(219, 0, 48, 0.6);
  color:white;
  width: 70%;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

li a:hover{
  text-decoration: none;
  border-left: 6px solid yellow;
  background: rgba(219, 0, 48, 0.6);
  color: white;
  width: 70%;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  transition: width 2s;
}

li a:active{
  text-decoration: none;
  border-left: 6px solid green;
  background: rgba(219, 0, 48, 0.6);
  color: white;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

#introduction{
  line-height: 1.5rem;
  text-align: left;
}

#mainContent{
  margin: 20rem 0 0 0;
  padding: 0 0.5rem 0 0.5rem;
}

body{
  font-family: sans-serif, arial;
  display: none;
}

li a{
  display: block;
  padding: 0.6rem;
}

#imageContainer{
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  }
  

#businessButton{
  width: 15rem;
  height: 5rem;
  background: linear-gradient(to left, #004D98, #A50044);
  margin: 10px 0 20px 10px;
  border: 1px solid white;
  color: white;
  border-radius: 1.2rem;
  font-size: 1.3rem;
  padding: 0.4rem;
}

@media screen and (min-width: 768px){
  #mainContent{
    margin: 30vh 0 0 0;
    padding: 0 0.8rem 0 0.8rem;
  }
  
  .description {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px){
  #mainContent{
    margin: 50vh 0 0 0;
    padding: 0 1.2rem 0 1.2rem;
  }
  
  .description{
  font-size: 5rem;
    height: 80%;
}

}